#checkbox:checked ~ .header__nav{
  left: 0;
}
.check{
  display: block;
  font-size: 25px;
  cursor: pointer;
}
.header__nav{
  position: absolute;
  top: 100%;
  left: -100%;
  background: #FFFFFF;
  height: 100vh;
  overflow-y: scroll;
  width: 160px;
  padding: 5px;
  transition: all .3s linear;
  box-shadow: 0px 3px 50px #EFEFEF;
  z-index: 1;
}
.nav__ul{
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 0;
  background: transparent; 
}
.nav__li{
  font-size: 16px;
  padding: 6px;
  display: block;
  width: 100%;
}
.nav__a{
  font-size: 16px;
  padding: 6px;
  display: block;
  width: 100%;
}
.sub__ul{
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 0;
  background: transparent; 
}
.sub__li{
  border: none;
  padding-left: 10px;
  background: transparent;
}
.sub__li:hover{
  background: #FF8989;
}
header__button{
  display: none;
}