/* common code start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.padding{
  padding: 0 10%;
}
[class*="col-"]{
  float: left;
  padding: 15px;
}
[class*="col-"]{
  width: 100%;
}
.section::after{
  clear: both;
  content: '';
  display: table;
}
.hr{
  width: 60px;
  border: none;
  border-top: 2px solid #1E90FF;
}
/* common code end */


/* header start */
.header__contract{
  background: #ECF8FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
.contract__social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 10px 0;
}
.social__i{
  padding: 0 5px;
  color: #BBBBBB;
}
.contract__link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 10px 0;
}
.contract__email{
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #838383;
  cursor: pointer;
}
.contract__phone{
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #838383;
  cursor: pointer;
  margin-right: -20px
}
.link__i{
  padding: 0 5px;
  color: #1E90FF;
}
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 3px 3px 30px rgba(227, 227, 227, 0.5);
  position: relative;
}
.header__img{
  width: 110px;
  padding: 10px 0;
}
#checkbox{
  display: none;
}
.check{
  display: none;
}
.nav__ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none
}
.nav__a{
  text-decoration: none;
  color: #3D3D3D;
  text-transform: capitalize;
  font-size: 10px;
  padding: 8px;
  cursor: pointer;
  font-weight: normal;
}
.nav__a:hover{
  color: #1E90FF;
}
.sub__ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  position: absolute;
  background: #FFFFFF;
  top: 100%;
  display: none;
}
.nav__li:hover .sub__ul{
  display: block;
}
.sub__li{
  padding-bottom: 5px;
  cursor: pointer;
  border: 1px solid #F6F6F6;
}
.sub__li:hover{
  color: #1E90FF;
  background: rgba(206, 206, 206, 0.5);
}

.header__btn{
  font-weight: normal;
  font-size: .8rem;
  margin: 10px 0;
  padding: 10px 25px;
  color: #FFFFFF;
  background: linear-gradient(to right, #1E90FF, #4AA6FF);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
}
.header__btn:hover{
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}
/* header end */


/* home start */
.home{
  position: relative;
  max-height: 500px;

}
.home__slider{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.home__slides{
    width: 100%;
    display: flex;
    animation: slides 16s infinite;
}
.slides__img{
    width: 100%;
}
@keyframes slides{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

.slides{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 100px;
  width: 60%;
  text-shadow: 3px 3px 30px #8E8E8E
}
.slides__h1{
  font-size: 3rem;
  text-transform: capitalize;
  padding: 3px 0;
  font-weight: bold;

}
.slides__h2{
  font-size: 3rem;
  text-transform: capitalize;
  padding: 3px 0;
  font-weight: lighter
}
.slides__p{
  font-size: .8rem;
  padding: 5px 0;
  color: #6C6C6C;
}
.slides__btn{
  font-size: .8rem;
  margin: 10px 0;
  padding: 10px 25px;
  color: #FFFFFF;
  background: linear-gradient(to right, #1E90FF, #4AA6FF);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize
}
.slides__btn:hover{
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}
/* home end */


/* service start */
.service{
  padding: 15px 10%;
  background: #1E90FF;
}
.service__card{
  color: #FFFFFF;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  
}
.service__card:hover{
  background: #43A3FF;
  transform: scale(1.1);
  transition: all .2s linear;
}
.service__i{
  font-size: 35px;
  padding: 15px 0;
  
}
.service__h3{
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0;
  
}
.service__p{
  font-size: 13px;
  font-weight: normal;
  padding: 5px 0;
  line-height: 20px;
  text-align: left;
}
.service__btn{
  font-size: .8rem;
  margin: 10px 0;
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
}
.service__btn:hover{
  background: #FFFFFF;
  color: #1E90FF;
  border: 1px solid #1E90FF;
}
/* service end */


/* care start */
.care{
  padding: 80px 10%;
}
.care__image{
  position: relative;
  width: 380px;
  height: 330px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.care__img{
  width: 220px;
}
.care__img1{
  top: 0;
  left: 0;
}
.care__img2{
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
.care__dics{
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.care__h5{
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
}
.care__h3{
  padding: 10px 0;
  font-size: 28px;
  font-weight: normal;
}
.care__p{
  line-height: 28px;
  color: #939393;
  font-size: 13px;
}
.care__ul{
  padding: 20px 0;
  list-style: inside url(/img/tick.svg);
  
}
.care__li{
  line-height: 28px;
  color: #686868;
  font-size: 13px;
}
.care__btn{
  margin: 10px 0;
  padding: 10px 25px;
  color: #FFFFFF;
  background: linear-gradient(to right, #1E90FF, #4AA6FF);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
}
.care__btn:hover{
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}
/* care end */

/* Departments start */
.departments{
  padding: 50px 10%;
  background: #DBEDFF
}
.departments__head{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.departments__h3{
  padding: 10px 0;
  font-size: 30px;
  font-weight: normal;
}
.head__p{
  width: 500px;
  color: #686868;
  padding: 10px 0;
  line-height: 25px

}
.departments__body{
  padding: 50px 0;
}
.departments__image{
  height: 237px;
  width: 100%;
  display: block;
  overflow: hidden;
}
.departments__img{
  width: 100%;
  height: 237px;
  transition: transform .3s
}
.departments__img:hover{
  transform: scale(1.2)
}
.departments__dics{
  background: #FFFFFF;
  padding: 20px;
}
.departments__h4{
  padding: 10px 0;
  font-size: 20px;
  font-weight: normal;
}
.departments__p{
  color: #686868;
  padding: 10px 0;
  line-height: 25px;
}
.departments__a{
  text-decoration: none;
  color: #1E90FF;
  text-transform: capitalize;
  cursor: pointer;
}
.departments__a:hover{
  text-decoration: underline;
  
}
/* Departments end */

/* text start */
.text{
  position: relative;
  width: 100%;
  height: 445px;
  overflow: hidden;
  background: url("/img/img3.png");
  background-size: cover;
}
.text__img{
  width: 100%;
  height: 100%;
}
.text__text{
  top: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  background: rgba(60, 60, 60, 0.3);
  height: 100%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__h2{
  font-size: 100px;
  padding: 5px;
  padding-top: 0;
  line-height: 90px;
}
.text__p{ 
  padding: 10px 13%;
  font-size: 16px;
  line-height: 25px;
  text-shadow: 3px 3px 30px #000000

}
.hr2{
  width: 70px;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  padding: 10px;
}
.text__a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
/* text end */


/* tabs start */
.tabs{
  background: #F9F9F9;
}
.tabs__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #F9F9F9;
}
.tabs__content input[type="radio"] {
    display: none;
}
.tabs__content label {
  width: 33%;
  height: 65px;
  background: #F9F9F9;
  font-weight: normal;
  padding: 25px;
  font-size: 15px;
}
.tabs__content input[type='radio']:checked + label + .tab {
    display: block;
}
.tabs__content input[type="radio"]:checked + label {
    background: #E9E9E9;
}

.tab{
    width: 100%;
    padding: 80px 0;
    background: #F9F9F9;
    order: 1;
    display: none;
    
}
.tab__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab__h3{
    font-size: 22px;
    font-weight: normal;
    padding: 25px 0 8px 0;
}
.tab__p{
  color: #9A9A9A;
  line-height: 23px;
  font-size: 16px;
  text-align: left;
}
.tab__image{
  height: 215px;
  overflow: hidden;
}
.tab__img{
  width: 100%;
}
/* tabs start */

/* expert start */
.expert{
  padding: 100px 10%;
}
.expert__h3{
  padding: 15px;
  font-size: 28px;
  font-weight: normal;
}
.expert__image{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.expert__img{
  height: 100%;
  width: 100%;
  display: block;
  transition: transform .3s;

}
.expert__img:hover{
  transform: scale(1.2);
}
.expert__dics{
  text-align: center;
  padding: 20px;
  background: rgba(225, 255, 255, 0.5);
}
.expert__h4{
  font-size: 20px;
  font-weight: normal;
  padding: 5px
}
.expert__p{
  font-size: 12px;
  color: #959595;
}

/* expert end */


/* Contact start */
.contact__div{
  background: rgba(92, 174, 255, 0.75);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
}
.contact__dics{
  color: #FFFFFF;
}
.contact__h2{
  font-size: 20px;
  padding: 5px 0;
}
.contact__p{
  font-size: 14px;
  padding: 5px 0;
  color: rgba(255, 255, 255, .9);
}
.contact__button{
  padding-left: 30px;
}
.contact__btn{
  font-size: .8rem;
  padding: 8px 15px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: capitalize;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
}
.contact__btn:hover{
  background: #FFFFFF;
  color: #1E90FF;
  border: 1px solid #1E90FF;
}
.contact__div1{
  background: url("/img/img97.png");
  background-size: cover;
  padding: 0;
}
.contact__div2{
  background: url("/img/img98.png");
  background-size: cover;
  padding: 0;
}
/* Contact end */ 


/* footer start */
.footer{
  background: #1B1B1B;
  
}
.footer__head{
  padding: 80px 0;
  margin: 0 10%
}
.footer__img{
  width: 130px;
  padding: 30px 0;
  height: 95px;
}
.footer__h3{
  padding: 30px 0;
  font-size: 22px;
  color: #F3F3F3;
  font-weight:normal
}
.footer__icon{
  color: #C2C2C2;
  background: #575757;
  font-size: 25px;
  padding: 10px;
  width: 45px;
  height: 45px;
  margin: 50px 5px 0 0;
  border-radius: 5px
}
.footer__icon:hover{
  color: #FFFFFF;

}
.footer__p{
  color: #C2C2C2;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: capitalize;
}
.footer__a{
  color: #C2C2C2;
  font-size: 14px;
  padding: 10px 0;
  display: block;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
  
}
.footer__mail{
  color: #C2C2C2;
  font-size: 14px;
  display: block;
  font-weight: normal;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px 0;
  
}
.footer__copy{
  background: #000000;
}
.copy__p{
  color: #C2C2C2;
  color: #FFFFFF;
  font-size: 14px;
  padding: 30px 0;
  font-weight: normal;
  text-align: center
}
.copy__a{
  color: #44A3FF;
  font-size: 14px;
  padding: 10px 0;
  font-weight: normal;
  text-decoration: none;
  text-transform: capitalize;
}
/* footer end */
