/* common code start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.padding{
  padding: 0 10%;
}
[class*="col-"]{
  float: left;
  padding: 15px;
}
[class*="col-"]{
  width: 100%;
}
[class*="col-"]::after{
  clear: both;
  content: '';
  display: table;
}
.section::after{
  clear: both;
  content: '';
  display: table;
}
/* common code end */


/* header start */
.header__contract{
  background: #ECF8FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
.contract__social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 10px 0;
}
.social__i{
  padding: 0 5px;
  color: #BBBBBB;
}
.contract__link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 10px 0;
}
.contract__email{
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #838383;
  cursor: pointer;
}
.contract__phone{
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #838383;
  cursor: pointer;
  margin-right: -20px
}
.link__i{
  padding: 0 5px;
  color: #1E90FF;
}
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 30px rgba(227, 227, 227, 0.5);
  position: relative;
  
}
.header__img{
  width: 110px;
  padding: 10px 0;
}
#checkbox{
  display: none;
}
.check{
  display: none;
}
.nav__ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none
}
.nav__a{
  text-decoration: none;
  color: #3D3D3D;
  text-transform: capitalize;
  font-size: 10px;
  padding: 8px;
  cursor: pointer;
  font-weight: normal;
}
.nav__a:hover{
  color: #1E90FF;
}
.sub__ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  position: absolute;
  background: #FFFFFF;
  top: 100%;
  display: none;
}
.nav__li:hover .sub__ul{
  display: block;
}
.sub__li{
  padding-bottom: 5px;
  cursor: pointer;
  border: 1px solid #F6F6F6;
}
.sub__li:hover{
  background: #ECECEC;
}

.header__btn{
  font-weight: normal;
  font-size: .8rem;
  margin: 10px 0;
  padding: 10px 25px;
  color: #FFFFFF;
  background: linear-gradient(to right, #1E90FF, #4AA6FF);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize;
}
.header__btn:hover{
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}
/* header end */


/* home start */
.home{
  position: relative;
  max-height: 500px;

}
.home__slider{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.home__slides{
    width: 100%;
    display: flex;
    animation: slides 16s infinite;
}
.slides__img{
    width: 100%;
}
@keyframes slides{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

.slides{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 100px;
  width: 60%;
}
.slides__h1{
  font-size: 3rem;
  text-transform: capitalize;
  padding: 3px 0;
  font-weight: bold;

}
.slides__h2{
  font-size: 3rem;
  text-transform: capitalize;
  padding: 3px 0;
  font-weight: lighter
}
.slides__p{
  font-size: .8rem;
  padding: 5px 0;
  color: #6C6C6C;
}
.slides__btn{
  font-size: .8rem;
  margin: 10px 0;
  padding: 10px 25px;
  color: #FFFFFF;
  background: linear-gradient(to right, #1E90FF, #4AA6FF);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: capitalize

}
.slides__btn:hover{
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;

}
/* home end */


/* service start */
.service{
  display: flex;
  background: #7BBEFF
}
.service__card{
  color: #FFFFFF;
  padding: 15px
}
.service__card:hover{
  background: dodgerblue
}
.service__i{
  font-size: 35px;
  padding: 15px 0;
  
}
.service__h3{
  font-size: 20px;
  font-weight: normal;
  padding: 5px 0;
  
}
.service__p{
  font-size: 13px;
  font-weight: normal;
  padding: 5px 0;
  line-height: 20px;
}
.service__btn{
  font-size: .8rem;
  margin: 10px 0;
  padding: 5px 10px;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize
}
.service__btn:hover{
  background: #FFFFFF;
  color: #1E90FF;
  border: 1px solid #1E90FF;
}
/* service end */
